<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/db20999b-38e6-4b96-8f34-688df9461c20/resourcegroups/chatapp/providers/Microsoft.Web/sites/theultimatechat</ResourceId>
    <ResourceGroup>chatapp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://theultimatechat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>theultimatechat.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>theultimatechat</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$theultimatechat</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Chatappwow.Models.UserContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:theultimatechatdbserver.database.windows.net,1433;Initial Catalog=theultimatechat_db;User ID=siematypie@theultimatechatdbserver;Password=Lubiebudyn122" Name="Data Source=tcp:theultimatechatdbserver.database.windows.net,1433;Initial Catalog=theultimatechat_db;User Id=siematypie@theultimatechatdbserver;Password=Lubiebudyn122" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Chatappwow.Models.UserContext, Chatappwow" MigrationConfiguration="Chatappwow.Migrations.Configuration, Chatappwow" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Chatappwow.Models.UserContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:theultimatechatdbserver.database.windows.net,1433;Initial Catalog=theultimatechat_db;User Id=siematypie@theultimatechatdbserver;Password=Lubiebudyn122</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Chatappwow.Models.UserContext" />
  </ItemGroup>
</Project>